extends ../layout/layout.pug

block style
    style(type: 'text/css').
        body{
            font-size: 14px;
            color: rgba(0, 0, 0, .9)
        }
        #cnode-container{
            margin: 0;
            padding: 0;
            width: 100vw;
            position: relative;
            padding: 1rem;
            list-style: none;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        #list-container{
            margin: 0;
            padding: 0;
            width: 100vw;
            position: relative;
            padding: 1rem;
            list-style: none;
            box-sizing: border-box;
        }

        #list-container li{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            border-bottom: 1px solid black;
            flex-wrap: nowrap;
            margin-bottom: 0.5rem;
        }

        #list-container li span{
            padding: 0.5rem 0;
        }

block content

    div#cnode-container

        div.chart-area
            canvas#chart-canvas(width='400' height='400')

        ul#list-container
            each item in data
                li
                    span title: #{item.title}
                    span author: #{item.author}
                    span common1: #{item.common1}
                    span(href: #{item.href})
                        a #{item.href}
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js')
    script.
        const canvas = document.getElementById('chart-canvas');
        const ctx = canvas.getContext('2d');
        console.log(ctx);

        var myChart = new Chart(canvas, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        })